<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <label for="goal">Goal</label>
        <input type="text" id="goal" v-model="enteredValue"/>
        <button v-on:click="addGoal">Add Goal</button>
      </div>
      <ul>
          <li v-for="goal in goals">{{ goal }}</li>
      </ul>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.5/vue.global.js' integrity='sha512-9cV9x7+o8K90ShB7ZXFst6kx0t8uBwG3I/lqitAm+haYbnMWw1j2htjI3PG92Cfhsmt+r2NkjKuwTokgqSBVRQ==' crossorigin='anonymous'></script>
    <script src="vue.js"></script>
  </body>
</html>
